<!DOCTYPE html>
<html>

<head>
  <title> Admin Page</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/product.css">
  <script src="https://kit.fontawesome.com/91c7e26d12.js" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <div>
    <%- include('./partials/navbar.ejs') %>
  </div>
  <div class="data-table-container">
    <div class="container mt-3">
       <h2 class="text-center mb-4">Categories</h2>
       <div class="row justify-content-end"> 
          <div class="col-lg-8 col-md-4 col-sm-12">
           <button class="btn btn-success" id="addCategory">
             <i class="fa-sharp fa-solid fa-plus"></i> Add Category
           </button>
         </div>
       </div>
     </div>
   
     <div class="table-responsive" >
       <table class="table table-hover"> 
         <thead>
           <tr>
             <th scope="col">Id</th>
             <th scope="col">Name</th>
             <th scope="col" colspan="2">Options</th>
           </tr>
         </thead>
         <tbody>
           <% categories.forEach(function(category) { %>
             <tr>
               <td><%= category.id %></td>
               <td><%= category.name %></td>
               <td>
                 <button class="btn btn-success updateCategoryBtn" data-id="<%= category.id %>">
                   <i class="fa-solid fa-wrench"></i>
                 </button>              
                 <button class="btn btn-danger deleteCategoryBtn" data-id="<%= category.id %>">
                   <i class="fa-solid fa-trash"></i>
                 </button>
               </td>
             </tr>
           <% }); %>
         </tbody>
       </table>
     </div>  
   </div>
 <script src="../js/adminCategory.js"></script>
 <script src="../js/logout.js"></script>

</body>