<!DOCTYPE html>
<html>

<head>
  <title> Admin Page</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/product.css">
  <script src="https://kit.fontawesome.com/91c7e26d12.js" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 

 
</head>

<body>
  <div>
    <%- include('./partials/navbar.ejs') %>
  </div>
  <div class="data-table-container">
   <div class="container mt-3">
      <h2 class="text-center mb-4">Products</h2>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
              <input type="text" id="byName" class="form-control" placeholder="Search by name...">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
              <select id="byBrand" class="form-control">
                <option value="">Select Brand</option>
                <% brands.forEach(function(brand) { %>
                  <option value="<%= brand.name %>"><%= brand.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
              <select id="byCategory" class="form-control">
                <option value="">Select Category</option>
                <% categories.forEach(function(category) { %>
                  <option value="<%= category.name %>"><%= category.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="col-lg-3 col-md-12 mb-2 text-right">
              <button id="searchButton" class="btn btn-info mr-2">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              <button id="clearButton" class="btn btn-warning">
                <i class="fa-solid fa-broom"></i>
              </button>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-12 text-right">
          <button class="btn btn-success" id="addProduct">
            <i class="fa-sharp fa-solid fa-plus"></i> Add Product
          </button>
        </div>
  
      </div>
    </div>
  
    
    
    <div class="table-responsive" id="originalTable">
      <table class="table table-hover"> 
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Deleted</th>
            <th scope="col">Brand</th>
            <th scope="col">Category</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(function(product) { %>
            <tr>
              <td><img src="<%= product.imageUrl %>" alt="Product Image"></td>
              <td><%= product.id %></td>
              <td><%= product.name %></td>
              <td><%= product.description %></td>
              <td><%= product.deleted %></td>
              <td><%= product.brandName %></td>
              <td><%= product.categoryName %></td>
              <td><button class="btn btn-success editProductBtn" data-id="<%= product.id %>">
                <i class="fa-regular fa-pen-to-square"></i>Update</button></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <div id="searchResultsTable" class="table-responsive" style="display: none;">
      <table class="table table-hover">
          <thead> 
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Brand</th>
              <th scope="col">Category</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody></tbody>
      </table>
  </div>
  </div>
  
  
  
  

  
  
  
  

 
  <script src="../js/search.js"></script>
  <script src="../js/adminProduct.js"></script>
  

</body>
  
 